<div id="list_<%=list.id%>" class="todo_list" style="margin: 10px" >
	<% @list = list %>
	<%= render partial:'lists/list_info' %>
	<%= render partial:'tasks/form' %>
	<%= render partial:'tasks/new'  %>
</div>

<script type="text/javascript">
	$(function () {
  $("#list_<%= @list.id %> .new_task #new_task").find('#task_deadline').datetimepicker({ format: 'd.m.Y H:i' });
	});
</script>